'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Project Sidebar'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'project-sidebar:toggle'
        }
      ]
    ]
  }
]
